html {
  background-color: #fff;
  font-family:sans-serif;
  font-size: 1.3vw;
}

body {
  color:white;
  background-color: black;
  margin-top: 3vh;
  margin-left: 10vw;
  border: 0.2vw solid blue;
  height: 94vh;
  width: 80vw;
}

.card-row {
  /* margin: 10px 0px 0px 0px; */
  margin: 0.3vh 0 0 0;
  display: flex;
  justify-content: center;
}

.card-row div {
  height: 4vh;
  width: 5.5vw;
  color: black;
  border: 0.2vw solid white;
  border-radius: 1vw;
  margin: 0px 1vw;
  background: red;
  transition: .2s ease-in;
  padding: 5vh 0;
  text-align:center;
  font-size: 1.2em;
}

.card-row div:hover {
  transform: scale(1.1, 1.1);
}

.battle-ground {
  height: 46vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sum {
  display: flex;
  justify-content: center;
  margin: 1vh 0;
}

#YourSum {
  display: inline;
}

.buttons {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 11vw;
  height: 5vh;
  margin: 0px 1.1vw;
  background: #0000ff;
  color: #fff;
  font: inherit;
  border-width: 0.1vw;
  border-radius: 1vw;
}

.inactive-buttons button {
  background-color: #0000a9;
  pointer-events: none;
}

.hidden-cards div {
  color: red;
}

.visible {
  color: black !important;
}
